
/* variables */
:root {
    --basic-color: #5EB0B8;
    --second-color: #6b462c;
    --third-color: #21656B;
    --white-color: #fcfcfc;
}

/* reset */
li {
    list-style-type: none;
}
body, figure, h1, h2, p, a, ul, li {
    margin: 0;
    padding: 0;
}
a:link, a:visited, a:active {
    text-decoration: none;
    
}

/* fonts */
h1, h2, #follow {
    font-family: 'Cookie', cursive;
    font-style: normal;
    font-weight: normal;
}
* p, a, li {
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
}
h1 {
    font-size: 4.5em;
    line-height: 65%;
    letter-spacing: .03em;
    color: var(--basic-color);
    text-shadow: 0px 2px 2px var(--second-color);
}
h2 {
    font-size: 2.5em;
}
p {
    font-size: 1em;
}

/* wrapper and grid*/
.wrapper {
    background-color: var(--basic-color);
    max-width: 1440px;
    margin: 0 auto;
    font-size: 20px;
    color: var(--white-color);
    text-align: center;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer" ;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

/* menu */
.burger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 11000;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    background-image: url(/img/Burger.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}
.close-burger {
    background-image: url(/img/kross.svg);
}
.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    overflow: hidden;
    background-color: rgba(33, 101, 107, 0.8);
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
}
.menu-link {
    font-size: 2rem;
    line-height: 4rem;
}
.menu-link:hover {
    color: hotpink;
}
.open-nav {
    transform: translateY(0);
}

/* buttons */
.button {
    height: 2.5rem;
    width: 15rem;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white-color);
    text-transform: uppercase;
}
.button:hover {
    color: hotpink;
}
.recepies-link > button {
    background-color: var(--second-color);
}
.history-link > button {
    background-color: var(--basic-color);
}

/* base styles */
.logo {
    position: fixed;
    top: .2rem;
    left: .1rem;
    z-index: 1000;
    -webkit-transition: transform 5s;
    -moz-transition: transform 5s;
    -o-transition: transform 5s;
    -ms-transition: transform 5s;
    transition: transform 5s;
}
.logo:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/Hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-height: 600px;
    position: relative;
}
.hero-text {  
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main > article {
    max-width: 100%;
    min-height: 337px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}  
main > article > p {
    margin: 1.5rem 0;
} 
main > figure {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > figure > img {
    max-width: 100%;
    min-height: 523px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.history-link {
    background-color: var(--second-color);
}
footer {
    width: 100%;
    min-height: 414px;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom-top p {
    margin-top: -.6rem;
    letter-spacing: -.05rem;
}
.bottom-icons {
    padding-top: 12rem;
    font-size: 1.6rem;
}
#follow {
    padding-bottom: .5rem;
}
footer > aside > hr {
    width: 90%;
}
.icon-text {
    font-size: .7rem;
    padding: 1rem;
}
/* recepies, history, contact */
.main-recepies, .main-history, .main-contact {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; 
}
.recepie, .recepie-front, .history-img > figure > img, .contact-front > figure > img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.recepie-front img, .history-img > figure > img, .contact-front > figure > img {
    width: 100%;
}
.img1 {
    border-style: dashed;
    border-color: hotpink;
    border-width: .5rem;
}
.img2 {
    border-style: dotted;
    border-color: var(--third-color);
    border-width: .5rem;
}
.img3 {
    border-style: dashed;
    border-color: hotpink;
    border-width: .5rem;
}
.img4 {
    border-style: dotted;
    border-color: var(--third-color);
    border-width: .5rem;
}
.img5 {
    border-style: dashed;
    border-color: hotpink;
    border-width: .5rem;
}
.img6 {
    border-style: dotted;
    border-color: var(--third-color);
    border-width: .5rem;
}
.history-img > figure > img {
    -webkit-transition: transform 5s ease-in-out;
    -moz-transition: transform 5s ease-in-out;
    -o-transition: transform 5s ease-in-out;
    -ms-transition: transform 5s ease-in-out;
    transition: transform 5s ease-in-out;
}
.history-img > figure > img:hover {
    -webkit-transform: rotateY(181deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.main-contact > article, .main-contact > article > p  {
    color: var(--second-color); 
}
.main-contact > article > h2 {
    padding-bottom: 1rem;
}

.contact-front > figure > {
    position: relative;
}
.contact-front > h2 {
    position: absolute;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}
.contact-back > p > a:hover {
        color: hotpink;
}

/* desktop*/
@media screen and (min-width: 768px) {
    .wrapper {
        font-size: 30px;
        grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer" ;
    }
main, .main-recepies, .main-history, .main-contact {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
}
}